<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <h3>
          Related links
      </h3>
      <!-- <p class="text-justify">
          <a href="https://en.wikipedia.org/wiki/Spatial_anti-aliasing">Wikipedia</a> provides an excellent introduction to spatial anti-aliasing techniques.
      </p>
      <p class="text-justify">
          Mipmaps were introduced by Lance Williams in his paper "Pyramidal Parametrics" (<a href="https://software.intel.com/sites/default/files/m/7/2/c/p1-williams.pdf">Williams (1983)</a>).
      </p>
      <p class="text-justify">
          <a href="https://dl.acm.org/doi/abs/10.1145/964965.808589">Amanatides (1984)</a> first proposed the idea of replacing rays with cones in computer graphics rendering. 
      </p>
      <p class="text-justify">
          The closely related concept of <em>ray differentials</em> (<a href="https://graphics.stanford.edu/papers/trd/">Igehy (1999)</a>) is used in most modern renderers to antialias textures and other material buffers during ray tracing.
      </p>
      <p class="text-justify">
          Cone tracing has been used along with prefiltered voxel-based representations of scene geometry for speeding up indirect illumination calculations in <a href="https://research.nvidia.com/sites/default/files/publications/GIVoxels-pg2011-authors.pdf">Crassin et al. (2011)</a>.
      </p>
      <p class="text-justify">
          Mip-NeRF was implemented on top of the <a href="https://github.com/google-research/google-research/tree/master/jaxnerf">JAXNeRF</a> codebase.
      </p> -->
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Citation</h3>
    <div class="form-group col-md-10 col-md-offset-1">
      <textarea id="bibtex" class="form-control" readonly>
        @article{dang2024chatgptefficiencyevaluationresearch,
            title={ChatGPT:
              An Efficiency Evaluation Research},
            author={Dalena Dang 
              217525064},
            course={ITEC4020A},
            year={2024}
        }
      </textarea>
    </div>
  </div>
</div>

<footer class="row">
  <div class="col-md-8 col-md-offset-2">
    <hr />
    <h3>Acknowledgements</h3>
    <p class="text-justify">
    <!-- We thank Janne Kontkanen and David Salesin for their comments on the text, Paul Debevec for constructive discussions, and Boyang Deng for JaxNeRF.  -->
        <br />
    <!-- MT is funded by an NSF Graduate Fellowship. -->
        <br />
    The website template was borrowed from <a href="http://mgharbi.com/">Michaël Gharbi</a>.
    </p>
  </div>
</footer>