<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="author" content="Dalena Dang">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/mcqgenerator.js"></script>
  <link rel="shortcut icon" href="/public/669_yorku-logo-small.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/app.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <title>ITEC4020AF24 - Group Assignment | <%= title %></title>
</head>